<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">    
<title>Product Page</title>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"> -->
</head>
<body>


  <div id="root">
    
      <h2>{{ product }}</h2>
      
      <img :src="image" :alt="altText" style="width: 40%;" />
      
      <p v-if="inStock">In Stock</p>
      <p v-else>Out of Stock</p>
      
      <h3>Details</h3>
      <ul>
        <li v-for="detail in details">{{ detail }}</li>
      </ul>
      
      <div v-for="variant in variants" :key="variant.id" v-on:mouseover="updateImage(variant.image)">
        <!-- <p>Quantity: {{ variant.quantity }}</p> -->
        <span>{{ variant.color }}</span>
      </div>

      <span>{{ cart }} items in cart.</span>
      <button v-on:click="addToCart">Add to cart</button>
      
  </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
    
</body>
</html>
